<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <h2>FORMULIR PENDAFTARAN CALON MAHASISWA</h2>
            <h2>TARUNA BAKTI UNIVERSITY</h2>
            <h3>
                Jln. L.L.RE. Martadinata No. 93, 95 Bandung Jawa Barat Indonesia
            </h3>
        </div>

        <table>
            <tbody>
                <tr>
                    <td>I.</td>
                    <td colspan="2">DATA CALON MAHASISWA</td>
                    <td></td>
                    <td colspan="2">&nbsp;&Tab;</td>
                    <td>STATUS VERIFIKASI</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.</td>
                    <td>NIK</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.</td>
                    <td>Nama Lengkap</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>3.</td>
                    <td>Tempat, Tanggal Lahir</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>4.</td>
                    <td>Alamat di Bandung</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>No. Telp./Kode Pos</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>5.</td>
                    <td>E-mail</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>6.</td>
                    <td>Agama</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>7.</td>
                    <td>Warga Negara</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>8.</td>
                    <td>Asal Sekolah</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>9.</td>
                    <td>Alamat Sekolah</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>10.</td>
                    <td>Golongan Darah</td>
                    <td>:</td>
                    <td>……………………………………………………………………</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br />
        <table>
            <tbody>
                <tr>
                    <td>II.</td>
                    <td colspan="2">DATA ORANG TUA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>NO</td>
                    <td>KETERANGAN</td>
                    <td>AYAH (KANDUNG)</td>
                    <td>IBU (KANDUNG)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>NIK</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Nama Lengkap</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Nama Lengkap</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Nama Lengkap</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Tempat & Tanggal Lahir</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Alamat Rumah</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>5</td>
                    <td>No. Telp./HP</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>6</td>
                    <td>Email</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>7</td>
                    <td>Pendidikan Terakhir</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
                <tr>
                    <td></td>
                    <td>8</td>
                    <td>Pekerjaan</td>
                    <td>………………………………………………</td>
                    <td>………………………………………………</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>III.</td>
                    <td>
                        SUMBANGAN SUKARELA (kelipatan Rp500.000,00) Rp
                        …………………………………
                    </td>
                </tr>
            </tbody>
        </table>
        Bandung, ……………………………. 20…….. Calon Mahasiswa Orang Tua/ Wali ( ) ( )

        <h3>
            BERKAS YANG HARUS DISERTAKAN PADA SAAT VERIFIKASI DATA KE KAMPUS
        </h3>
        <ol>
            <li>Fotocopy Ijazah SMA/ SMK atau SKHUN</li>
            <li>Surat keterangan kelakuan baik dari sekolah atau kepolisian</li>
            <li>
                Surat keterangan berbadan sehat dan bebas narkoba dari dokter
                atau rumah sakit
            </li>
            <li>Fotocopy akte kelahiran</li>
            <li>Fotocopy kartu keluarga</li>
            <li>Pas foto berwarna terbaru ukuran:</li>
            <ol type="a">
                <li>2 x 3 sebanyak 2 lembar</li>
                <li>3 x 4 sebanyak 3 lembar</li>
                <li>4 x 6 sebanyak 1 lembar</li>
            </ol>
        </ol>
        <!-- <?php
error_reporting(0);
$qunit=isset($_GET['id']) ? $_GET['id'] : "";
  if($qunit=="") { exit; }
include_once "lib/fungsi.php";
include_once "phpqrcode/qrlib.php";

$nmunit=getunit($qunit);
	
//QRCODE
//$qrkode = "qrtemp/".$id_daftar.".png";
//$p=hex($a_data[49],"32"); 
//$link = $qrlink."umum/loginAksi.php?q=1&pid=$a_data[48]&pip=$p";
//QRcode::png("$link", "$qrkode", "M", 4, 4);

//---------
	
$ttl = ': ........................................................................................';
$jk = ': ........................................................................................';
$tanggal = '....................................................';
$unit = strtoupper(getunit($qunit));
$namapanggilan = ': ........................................................................................';
$nama = ': ........................................................................................';
$alamat = ': ........................................................................................';
$telepon = ': ........................................................................................';
$kelurahan = ': ........................................................................................';
$kecamatan = ': ........................................................................................';
$kota = ': ..................................';
$propinsi = '  Propinsi ...................................';
$agama = ': ........................................................................................';
$noreg = ': ........................................................................................';
$asal = ': ........................................................................................';
$alamatasal = ': ........................................................................................';
$nisn = ': ........................................................................................';
$anakke = ': .....';
$dari = '.....';
$email = ': ........................................................................................';
$nama_ay = '..................................................................';
$nama_ib = '..................................................................';
$alamat_ay = '..................................................................';
$alamat_ib = '..................................................................';
$telepon_ay = '..................................................................';
$telepon_ib = '..................................................................';
$pend_ay = '..................................................................';
$pend_ib = '..................................................................';
$pek_ay = '..................................................................';
$pek_ib = '..................................................................';
$no_formulir = ': .............................................................';
$pilihankelas = ': ..............................................................................';
$warganegara = ': ........................................................................................';
$bhsdirumah = ': ........................................................................................';
$golongandarah = ': ........................................................................................';
$statustinggal = ': ........................................................................................';
$namapres1= '.................................................................................';		$tgkt1	= '.........................';
$namapres2= '.................................................................................';		$tgkt2	= '.........................';
$namapres3= '.................................................................................';		$tgkt3	= '.........................';
$umurTH=": .......Tahun ....... Bulan";
$ver = "BELUM TERVERIFIKASI"; 
$photo="images/photo.jpg"; 

$ket = "PESERTA DIDIK"; $nomor = "52";
if($qunit=="1") {
    //$ket = "MAHASISWA"; 
    $nomor = "91"; }
  
$namaORTU = '............................';
//QRCODE

$p=hex("http://www.tarunabakti.or.id","32"); 
$qrkode = "qrtemp/".$p.".png";
QRcode::png("$p", "$qrkode", "M", 4, 4);

//---------
require("fpdf/fpdf.php");
$pdf = new FPDF();

$pdf->AddPage();
$pdf->SetFont('Arial','B',24);
$pdf->SetY(6);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',10);
$pdf->Cell(212,5,'FORMULIR PENDAFTARAN CALON '.$ket,0,1,'C');
$pdf->SetY(10.7);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',14);
$pdf->Cell(212,5,$unit,0,1,'C');
$pdf->SetY(15);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',8);
$pdf->Cell(212,5,'Jln. L.L.R.E. Martadinata No. '.$nomor.' Bandung Jawa Barat Indonesia',0,1,'C');


//data formulir
$pdf->SetXY(145,30);
$pdf->SetFont('Arial','B',11.5);
$pdf->Cell(49,5,$ver,1,1,'C');

$pdf->SetXY(145,35);
$pdf->SetFont('Arial','B',9);
$pdf->Cell(49,5,'   No. Daftar : ',1,1,'L');

$pdf->Image($photo,158,45,25,37);
$pdf->Rect(157.5, 44.5, 26, 38, 1);

//data peserta
$pdf->SetFont('Arial','B',8);
$pdf->SetXY(14,25);
$pdf->Cell(30,5,'I.  DATA CALON '.$ket,0,1,'L');
$pdf->SetFont('Arial','',8);
$baris=5;
$pdf->SetXY(17,30);$pdf->Cell(30,5,'1. NIK',0,1,'L');
$pdf->SetXY(17,30+$baris);$pdf->Cell(30,5,'2. Nama Lengkap',0,1,'L');
$pdf->SetXY(17,35+$baris);$pdf->Cell(30,5,'    Nama Panggilan',0,1,'L');
$pdf->SetXY(17,40+$baris);$pdf->Cell(30,5,'3. Tempat & Tgl Lahir',0,1,'L');
$pdf->SetXY(17,45+$baris);$pdf->Cell(30,5,'4. Umur ',0,1,'L');
$pdf->SetXY(17,50+$baris);$pdf->Cell(30,5,'5. Alamat di Bandung',0,1,'L');
$pdf->SetXY(17,55+$baris);$pdf->Cell(30,5,'    Nomor Telepon',0,1,'L');
$pdf->SetXY(17,60+$baris);$pdf->Cell(30,5,'    Kelurahan',0,1,'L');
$pdf->SetXY(17,65+$baris);$pdf->Cell(30,5,'    Kecamatan',0,1,'L');
$pdf->SetXY(17,70+$baris);$pdf->Cell(30,5,'    Kab./ Kota',0,1,'L');
$pdf->SetXY(17,75+$baris);$pdf->Cell(30,5,'6. Agama',0,1,'L');
$pdf->SetXY(17,80+$baris);$pdf->Cell(30,5,'7. Jenis Kelamin',0,1,'L');
$pdf->SetXY(17,85+$baris);$pdf->Cell(30,5,'8. Warga Negara',0,1,'L');
$pdf->SetXY(17,90+$baris);$pdf->Cell(30,5,'9. Asal Sekolah',0,1,'L');
$pdf->SetXY(15.5,95+$baris);$pdf->Cell(30,5,'10. Alamat Sekolah',0,1,'L');
$pdf->SetXY(15.5,105);$pdf->Cell(30,5,'11. Bahasa di Rumah',0,1,'L');
$pdf->SetXY(15.5,110);$pdf->Cell(30,5,'12. Anak Ke',0,1,'L');
$pdf->SetXY(74,110);$pdf->Cell(30,5,'dari             Bersaudara',0,1,'L');
$pdf->SetXY(15.5,115);$pdf->Cell(30,5,'13. Golongan Darah',0,1,'L');
$pdf->SetXY(15.5,120);$pdf->Cell(30,5,'14. Tempat Tinggal',0,1,'L');
$pdf->SetXY(15.5,125);$pdf->Cell(30,5,'15. Alamat email',0,1,'L');

//detail peserta
$pdf->SetXY(65,30);$pdf->Cell(30,5,$nisn,0,1,'L');
$pdf->SetXY(65,30+$baris);$pdf->Cell(30,5,$nama,0,1,'L');
$pdf->SetXY(65,35+$baris);$pdf->Cell(30,5,$namapanggilan,0,1,'L');
$pdf->SetXY(65,40+$baris);$pdf->Cell(30,5,$ttl,0,1,'L');
$pdf->SetXY(65,45+$baris);$pdf->Cell(30,5,$umurTH,0,1,'L');
$pdf->SetXY(65,50+$baris);$pdf->Cell(30,5,$alamat,0,1,'L');
$pdf->SetXY(65,55+$baris);$pdf->Cell(30,5,$telepon,0,1,'L');
$pdf->SetXY(65,60+$baris);$pdf->Cell(30,5,$kelurahan,0,1,'L');
$pdf->SetXY(65,65+$baris);$pdf->Cell(30,5,$kecamatan,0,1,'L');
$pdf->SetXY(65,70+$baris);$pdf->Cell(30,5,$kota.' - '.$propinsi,0,1,'L');
$pdf->SetXY(65,75+$baris);$pdf->Cell(30,5,$agama,0,1,'L');
$pdf->SetXY(65,80+$baris);$pdf->Cell(30,5,$jk,0,1,'L');
$pdf->SetXY(65,85+$baris);$pdf->Cell(30,5,$warganegara,0,1,'L');
$pdf->SetXY(65,90+$baris);$pdf->Cell(30,5,$asal,0,1,'L');
$pdf->SetXY(65,95+$baris);$pdf->Cell(30,5,$alamatasal,0,1,'L');
$pdf->SetXY(65,105);$pdf->Cell(30,5,$bhsdirumah,0,1,'L');
$pdf->SetXY(65,110);$pdf->Cell(30,5,$anakke,0,1,'L');
$pdf->SetXY(83,110);$pdf->Cell(30,5,$dari,0,1,'L');
$pdf->SetXY(65,115);$pdf->Cell(30,5,$golongandarah,0,1,'L');
$pdf->SetXY(65,120);$pdf->Cell(30,5,$statustinggal,0,1,'L');
$pdf->SetXY(65,125);$pdf->Cell(30,5,$email,0,1,'L');

$pdf->Rect(16, 150, 175, 33, 1);
$pdf->Rect(16, 150, 175, 6, 1);
$pdf->Rect(63, 150, 63, 33, 1);
$pdf->Rect(16, 150, 6, 33, 1);
//data orang tua
$pdf->SetFont('Arial','B',8);
$pdf->SetXY(13,145);
$pdf->Cell(30,5,'II. DATA ORANG TUA',0,1,'L');
$pdf->SetFont('Arial','',8);
$pdf->SetXY(16,151);$pdf->Cell(30,5,'NO   KETERANGAN',0,1,'L');
$pdf->SetXY(77,151);$pdf->Cell(30,5,'AYAH (KANDUNG/WALI)',0,1,'L');
$pdf->SetXY(142,151);$pdf->Cell(30,5,'IBU (KANDUNG/WALI)',0,1,'L');
$pdf->SetXY(17,157.5);$pdf->Cell(30,5,'1.    Nama Lengkap (Gelar)',0,1,'L');
$pdf->SetXY(17,162.5);$pdf->Cell(30,5,'2.    Alamat Rumah',0,1,'L');
$pdf->SetXY(17,167.5);$pdf->Cell(30,5,'3.    Nomor Telepon',0,1,'L');
$pdf->SetXY(17,172.5);$pdf->Cell(30,5,'4.    Pendidikan Tertinggi',0,1,'L');
$pdf->SetXY(17,177.5);$pdf->Cell(30,5,'5.    Pekerjaan',0,1,'L');

//detail orang tua
//data ayah
$pdf->SetXY(67,157.5);$pdf->Cell(30,5,$nama_ay,0,1,'L');
$pdf->SetXY(67,162.5);$pdf->Cell(30,5,$alamat_ay,0,1,'L');
$pdf->SetXY(67,167.5);$pdf->Cell(30,5,$telepon_ay,0,1,'L');
$pdf->SetXY(67,172.5);$pdf->Cell(30,5,$pend_ay,0,1,'L');
$pdf->SetXY(67,177.5);$pdf->Cell(30,5,$pek_ay,0,1,'L');
//data ibu
//data ayah
$pdf->SetXY(130,157.5);$pdf->Cell(30,5,$nama_ib,0,1,'L');
$pdf->SetXY(130,162.5);$pdf->Cell(30,5,$alamat_ib,0,1,'L');
$pdf->SetXY(130,167.5);$pdf->Cell(30,5,$telepon_ib,0,1,'L');
$pdf->SetXY(130,172.5);$pdf->Cell(30,5,$pend_ib,0,1,'L');
$pdf->SetXY(130,177.5);$pdf->Cell(30,5,$pek_ib,0,1,'L');


/* data prestasi
$pdf->Rect(16, 170, 175, 22, 1);
$pdf->Rect(16, 170, 175, 5.5, 1);

$pdf->SetFont('Arial','B',8);
$pdf->SetXY(12.5,165);
$pdf->Cell(30,5,'III. DATA PRESTASI',0,1,'L');
$pdf->SetFont('Arial','',8);

$pdf->SetXY(17,170.5);$pdf->Cell(70,5,'NO.',0,1,'L');
$pdf->SetXY(25,170.5);$pdf->Cell(70,5,'KETERANGAN',0,1,'L');
$pdf->SetXY(55,170.5);$pdf->Cell(70,5,'NAMA PRESTASI',0,1,'L');
$pdf->SetXY(150,170.5);$pdf->Cell(70,5,'TINGKAT',0,1,'L');

$pdf->SetXY(18,176);$pdf->Cell(30,5,'1.',0,1,'L');
$pdf->SetXY(18,181);$pdf->Cell(30,5,'2.',0,1,'L');
$pdf->SetXY(18,186);$pdf->Cell(30,5,'3.',0,1,'L');

//detail Prestasi
//data ke 1
$pdf->SetXY(25,176.5);$pdf->Cell(30,5,'PRESTASI 1',0,1,'L');
$pdf->SetXY(55,176.5);$pdf->Cell(30,5,$namapres1,0,1,'L');
$pdf->SetXY(150,176.5);$pdf->Cell(30,5,$tgkt1,0,1,'L');
//data ke 2
$pdf->SetXY(25,181.5);$pdf->Cell(30,5,'PRESTASI 2',0,1,'L');
$pdf->SetXY(55,181.5);$pdf->Cell(30,5,$namapres2,0,1,'L');
$pdf->SetXY(150,181.5);$pdf->Cell(30,5,$tgkt2,0,1,'L');
//data ke 3
$pdf->SetXY(25,186.5);$pdf->Cell(30,5,'PRESTASI 3',0,1,'L');
$pdf->SetXY(55,186.5);$pdf->Cell(30,5,$namapres3,0,1,'L');
$pdf->SetXY(150,186.5);$pdf->Cell(30,5,$tgkt3,0,1,'L');

 */
//pernyataan
$pdf->Rect(16, 200, 175, 30, 1);

$pdf->SetFont('Arial','B',8);
$pdf->SetXY(12.5,194.5);
$pdf->Cell(30,5,'III. DANA PENDIDIKAN ',0,1,'L');
$pdf->SetFont('Arial','',8);
$pdf->SetXY(18,201);$pdf->Cell(30,5,'SAYA MEMBERIKAN :',0,1,'L');
$pdf->SetXY(18,206);$pdf->Cell(30,5,'1. D P & D P P',0,1,'L');
$pdf->SetXY(18,211);$pdf->Cell(30,5,'2. D P S',0,1,'L');
$pdf->SetXY(18,216);$pdf->Cell(30,5,'3. Uang Sekolah / Bulan Juli',0,1,'L');
$pdf->SetXY(18,221);$pdf->Cell(30,5,'    JUMLAH',0,1,'L');
$pdf->SetXY(64,206);$pdf->Cell(30,8,'Rp.',0,1,'L');
$pdf->SetXY(64,211);$pdf->Cell(30,8,'Rp.',0,1,'L');
$pdf->SetXY(64,216);$pdf->Cell(30,8,'Rp.',0,1,'L');
$pdf->SetXY(64,221);$pdf->Cell(30,8,'Rp.',0,1,'L');
//detail pernyataan

$pdf->SetXY(65,206);$pdf->Cell(30,8,'.......................',0,1,'R');
$pdf->SetXY(65,211);$pdf->Cell(30,8,'.......................',0,1,'R');
$pdf->SetXY(65,216);$pdf->Cell(30,8,'.......................',0,1,'R');
$pdf->SetXY(65,221);$pdf->Cell(30,8,'.......................',0,1,'R');
//detail terbilang
$pdf->SetFont('Arial','i',7);
$pdf->SetXY(95,206);$pdf->Cell(30,8,'.................................................................................',0,1,'L');
$pdf->SetXY(95,211);$pdf->Cell(30,8,'.................................................................................',0,1,'L');
$pdf->SetXY(95,216);$pdf->Cell(30,8,'.................................................................................',0,1,'L');
$pdf->SetXY(95,221);$pdf->Cell(30,8,'.................................................................................',0,1,'L');

$pdf->SetFont('Arial','',8);
//TANDA TANGAN
$pdf->SetXY(120,240);$pdf->Cell(30,5,'Bandung, '.$tanggal,0,1,'L');
$pdf->SetXY(120,245);$pdf->Cell(30,5,'TANDA TANGAN ORANG TUA/WALI',0,1,'L');
$pdf->SetFont('Arial','U',8);
$pdf->SetXY(120,265);$pdf->Cell(30,5,$namaORTU,0,1,'L');

$pdf->SetFont('Arial','i',5);
$pdf->SetXY(15,230);$pdf->Cell(30,5,'Keterangan= DP: Dana Pembangunan, DPP: Dana Pengembangan Pendidikan, DPS: Dana Pengembangan Sekolah ',0,1,'L');

//KELENGKAPAN DATA
$pdf->SetFont('Arial','B',7);
$pdf->SetXY(15,236);$pdf->Cell(30,5,'BERKAS YANG HARUS DISERTAKAN ',0,1,'L');
$pdf->SetXY(15,239);$pdf->Cell(30,5,'PADA SAAT VERIFIKASI DATA KE SEKOLAH',0,1,'L');
$pdf->SetFont('Arial','',7);
$pdf->SetXY(15,243);$pdf->Cell(30,5,'1. Fotocopy Akte Kelahiran',0,1,'L');
$pdf->SetXY(15,247);$pdf->Cell(30,5,'2. Fotocopy Kartu Keluarga',0,1,'L');
$pdf->SetXY(15,251);$pdf->Cell(30,5,'3. Fotocopy KTP',0,1,'L');
$pdf->SetXY(15,255);$pdf->Cell(30,5,'4. Surat Pernyataan',0,1,'L');
//$pdf->SetXY(15,256);$pdf->Cell(30,5,'5. ..........................................',0,1,'L');

$pdf->Image($qrkode,85,285,25,25);

//KETERANGAN
$pdf->SetFont('Arial','UB',6);
$pdf->SetXY(15,305);$pdf->Cell(30,5,'PERHATIAN',0,1,'L');
$pdf->SetFont('Arial','',6);
$pdf->SetXY(15,308);$pdf->Cell(30,5,'Pengisian formulir ini TIDAK MEMBERIKAN JAMINAN',0,1,'L');
$pdf->SetXY(15,311);$pdf->Cell(30,5,'bahwa calon '.$ket.' yang terdaftar pasti diterima.',0,1,'L');

$pdf->Output();

// Hapus QRCODE

  $filedel="qrtemp/".$id_daftar.".png";
  if (file_exists($filedel)) {
    unlink("$filedel");}

?>
				
 -->
<!-- <?php
error_reporting(0);
// $qunit=isset($_POST['id_daftar']) ? $_POST['id_daftar'] : "";
//  if($qunit=="") { exit; }
include_once "lib/fungsi.php";
include_once "phpqrcode/qrlib.php";

$id_daftar	= isset($_GET['id']) ? $_GET['id'] : "";


$q_data_edit	= mysqli_query($koneksi,"SELECT * FROM master WHERE id_daftar = '$id_daftar'");
$a_data	= mysqli_fetch_array($q_data_edit);
$p_registrasi		= $a_data[52];
//if($p_registrasi==NULL) { echo "<h4 class='alert_error'>Anda melakukan proses yang tidak benar <span id='close'>[<a href='#'>X</a>]</span></h4>";exit; }
$tgl = substr($a_data[46],8,2)."-".substr($a_data[46],5,2)."-".substr($a_data[46],0,4);
$tgllahir = substr($a_data[5],8,2)."-".substr($a_data[5],5,2)."-".substr($a_data[5],0,4);
$nmunit=getunit($a_data[51]);
if ($a_data[2] == 1) { 
    $jkel= ": Laki-Laki"; }
else if ($a_data[2] == 2) { 
    $jkel= ": Perempuan"; } 
else {	
    $jkel= ": -";	}

//QRCODE
$qrkode = "qrtemp/".$id_daftar.".png";
$p=hex($a_data[49],"32"); 
$link = $qrlink."umum/loginAksi.php?q=1&pid=$a_data[48]&pip=$p";
QRcode::png("$link", "$qrkode", "M", 4, 4);

//---------

$tglahir = substr($a_data[5],8,2)."-".substr($a_data[5],5,2)."-".substr($a_data[5],0,4);
$ttl = ": ".$a_data[4].", ".$tglahir;
$jk = getJK($a_data[2]);
$tanggal = date("d-m-Y");
$unit = strtoupper(getunit($a_data[51]));
$nama = ": ".$a_data[1];
$alamat = ": ".$a_data[6];
$telepon = ": ".$a_data[58];
$kelurahan = ": ".$a_data[60];
$kecamatan = ": ".$a_data[61];
$kota = ": ".$a_data[62];
$propinsi = getprov($a_data[63]);
$agama = ": ".getagama($a_data[3]);
$noreg = ": ".$a_data[55];
$asal = ": ".$a_data[18];
$alamatasal = ": ".$a_data[20];
$nisn = ": ".$a_data[50];
$anakke = ":    ".$a_data[8];
$dari = $a_data[9]+1;
if($a_data[9]==0) { $dari = "-"; }
if($a_data[8]==0) { $anakke = ":    -"; }
$email = ": ".$a_data[57];
$nama_ay = $a_data[10];
$nama_ib = $a_data[13];
$alamat_ay = $a_data[69];
$alamat_ib = $a_data[71];
$telepon_ay = $a_data[70];
$telepon_ib = $a_data[72];
$pend_ay = getPendidikan($a_data[11]);
$pend_ib = getPendidikan($a_data[14]);
$pek_ay = getPekerjaan($a_data[12]);
$pek_ib = getPekerjaan($a_data[15]);
$no_formulir = $a_data[55];
$email_ay = $a_data['emailayah'];
$email_ib = $a_data['emailibu'];

$no_un = ": ".$a_data['no_un'];
$pilihankelas = ": ".strtoupper(getkelas($a_data[64],"t_kelaspilihan".$a_data["unit"]));
$warganegara = ": ".strtoupper(getitem($a_data[65],"t_warganegara"));
$bhsdirumah = ": ".getitem($a_data[66],"t_bhsdirumah");
$golongandarah = ": ".getitem($a_data[67],"t_golongandarah");
$statustinggal = ": ".getitem($a_data[68],"t_statustinggal");
$namapres1= $a_data[32];		$tgkt1	= getTktPrestasi($a_data[33]);
$namapres2= $a_data[35];		$tgkt2	= getTktPrestasi($a_data[36]);
$namapres3= $a_data[38];		$tgkt3	= getTktPrestasi($a_data[40]);
$bing		= $a_data[22];		$bind		= $a_data[23];
$mtk		= $a_data[24];		$ipa		= $a_data[25];
$dapend = getDanaSekolah("t_kelaspilihan".$a_data["unit"], $a_data[64],"dapend");
$dapem = getDanaSekolah("t_kelaspilihan".$a_data["unit"], $a_data[64],"dapem");
$spp = getDanaSekolah("t_kelaspilihan".$a_data["unit"], $a_data[64],"spp");
$tdapend = strtoupper(terbilang($dapend));
$tdapem = strtoupper(terbilang($dapem));
$tspp = strtoupper(terbilang($spp));

if($p_registrasi != NULL) {
   $ver = "SUDAH TERVERIFIKASI"; }
else {
   $ver = "BELUM TERVERIFIKASI"; }
if($a_data[54]!=NULL) {
   $photo="umum/photo/".$a_data[54]; }
else {
   $photo="images/photo.jpg"; }

if($a_data[51] != 5 ) {
   $ket = "PESERTA DIDIK"; $lokasi="SEKOLAH";}
else {
    $ket = "MAHASISWA"; $lokasi="KAMPUS";}
if($a_data[51] == 5) {
   $nomor = "93 , 95"; }
else {
    $nomor = "52"; }
$qunit=$a_data[51];
//data nilai Bhs Indonesia
$p_ns1_bindo   = $a_data['ns1_bindo'];		
$p_ns2_bindo   = $a_data['ns2_bindo'];		
$p_ns3_bindo   = $a_data['ns3_bindo'];		
$p_ns4_bindo   = $a_data['ns4_bindo'];	
$p_ns5_bindo   = $a_data['ns5_bindo'];	
$p_rt1_bindo   = $a_data['rt1_bindo'];	
$p_rt2_bindo   = $a_data['rt2_bindo'];		
$p_rt3_bindo   = $a_data['rt3_bindo'];	
$p_rt4_bindo   = $a_data['rt4_bindo'];		
$p_rt5_bindo   = $a_data['rt5_bindo'];		

//data nilai Matematika
$p_ns1_mat   = $a_data['ns1_mat'];		
$p_ns2_mat   = $a_data['ns2_mat'];		
$p_ns3_mat   = $a_data['ns3_mat'];		
$p_ns4_mat   = $a_data['ns4_mat'];	
$p_ns5_mat   = $a_data['ns5_mat'];	
$p_rt1_mat   = $a_data['rt1_mat'];	
$p_rt2_mat   = $a_data['rt2_mat'];		
$p_rt3_mat   = $a_data['rt3_mat'];	
$p_rt4_mat   = $a_data['rt4_mat'];		
$p_rt5_mat   = $a_data['rt5_mat'];		

//data nilai IPA
$p_ns1_ipa   = $a_data['ns1_ipa'];		
$p_ns2_ipa   = $a_data['ns2_ipa'];		
$p_ns3_ipa   = $a_data['ns3_ipa'];		
$p_ns4_ipa   = $a_data['ns4_ipa'];	
$p_ns5_ipa   = $a_data['ns5_ipa'];	
$p_rt1_ipa   = $a_data['rt1_ipa'];	
$p_rt2_ipa   = $a_data['rt2_ipa'];		
$p_rt3_ipa   = $a_data['rt3_ipa'];	
$p_rt4_ipa   = $a_data['rt4_ipa'];		
$p_rt5_ipa   = $a_data['rt5_ipa'];		

//data nilai INGGRIS
$p_ns1_bing   = $a_data['ns1_bing'];		
$p_ns2_bing   = $a_data['ns2_bing'];		
$p_ns3_bing   = $a_data['ns3_bing'];		
$p_ns4_bing   = $a_data['ns4_bing'];	
$p_ns5_bing   = $a_data['ns5_bing'];	
$p_rt1_bing   = $a_data['rt1_bing'];	
$p_rt2_bing   = $a_data['rt2_bing'];		
$p_rt3_bing   = $a_data['rt3_bing'];	
$p_rt4_bing   = $a_data['rt4_bing'];		
$p_rt5_bing   = $a_data['rt5_bing'];		
  
$namaORTU = strtoupper($nama_ay);

require("fpdf/fpdf.php");
$pdf = new FPDF();

$pdf->AddPage();
$pdf->SetFont('Arial','B',24);
$pdf->SetY(6);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',10);
$pdf->Cell(212,5,'FORMULIR PENDAFTARAN CALON '.$ket,0,1,'C');
$pdf->SetY(10.7);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',14);
$pdf->Cell(212,5,$unit,0,1,'C');
$pdf->SetY(15);
$pdf->SetX(2);
$pdf->SetFont('Arial','B',8);
$pdf->Cell(212,5,'Jln. L.L.R.E. Martadinata No. '.$nomor.' Bandung Jawa Barat Indonesia',0,1,'C');


//data formulir
$pdf->SetXY(145,30);
$pdf->SetFont('Arial','B',11.5);
$pdf->Cell(49,5,$ver,1,1,'C');

$pdf->SetXY(145,35);
$pdf->SetFont('Arial','B',9);
if($qunit == 5 ) {
   $pdf->Cell(49,5,'   No. Daftar : ' .$no_formulir,1,1,'L'); }
else {
   $pdf->Cell(49,5,'   No. Daftar : '.$no_formulir,1,1,'L'); }

$pdf->Image($photo,158,45,25,37);
$pdf->Rect(157.5, 44.5, 26, 38, 1);

//data peserta
$pdf->SetFont('Arial','B',8);
$pdf->SetXY(14,25);
$pdf->Cell(30,45,'I.  DATA CALON '.$ket,0,1,'L');
$pdf->SetFont('Arial','',8);
$baris = 5;
$pdf->SetXY(17,50);$pdf->Cell(30,5,'1. NIK',0,1,'L');
$pdf->SetXY(17,50+$baris);$pdf->Cell(30,5,'2. Nama Lengkap',0,1,'L');
$pdf->SetXY(17,55+$baris);$pdf->Cell(30,5,'3. Tempat & Tgl Lahir',0,1,'L');
$pdf->SetXY(17,60+$baris);$pdf->Cell(30,5,'4. Alamat di Bandung',0,1,'L');
$pdf->SetXY(17,65+$baris);$pdf->Cell(30,5,'    Nomor Telepon',0,1,'L');
$pdf->SetXY(17,70+$baris);$pdf->Cell(30,5,'    Kelurahan',0,1,'L');
$pdf->SetXY(17,75+$baris);$pdf->Cell(30,5,'    Kecamatan',0,1,'L');
$pdf->SetXY(17,80+$baris);$pdf->Cell(30,5,'    Kab./ Kota',0,1,'L');
$pdf->SetXY(17,85+$baris);$pdf->Cell(30,5,'5.  e-mail',0,1,'L');
$pdf->SetXY(17,90+$baris);$pdf->Cell(30,5,'6. Agama',0,1,'L');
//$pdf->SetXY(155.5,103);$pdf->Cell(30,5,'[ '.$jk.' ]',0,1,'C');
$pdf->SetXY(17,95+$baris);$pdf->Cell(30,5,'7. Warga Negara',0,1,'L');
$pdf->SetXY(17,100+$baris);$pdf->Cell(30,5,'8. Asal Sekolah',0,1,'L');
$pdf->SetXY(17,105+$baris);$pdf->Cell(30,5,'9. Alamat Sekolah',0,1,'L');

//$pdf->SetXY(17,100);$pdf->Cell(30,5,'9. Anak Ke',0,1,'L');
//$pdf->SetXY(74,100);$pdf->Cell(30,5,'dari             Bersaudara',0,1,'L');
$pdf->SetXY(15.5,115);$pdf->Cell(30,5,'10. Golongan Darah',0,1,'L');

//$pdf->SetXY(15.5,110);$pdf->Cell(30,5,'11. Tempat Tinggal',0,1,'L');
//$pdf->SetXY(15.5,115);$pdf->Cell(30,5,'12. No. Peserta UN / NISN',0,1,'L');

//detail peserta
$pdf->SetXY(65,50);$pdf->Cell(30,5,$nisn,0,1,'L');
$pdf->SetXY(65,50+$baris);$pdf->Cell(30,5,$nama,0,1,'L');
$pdf->SetXY(65,55+$baris);$pdf->Cell(30,5,$ttl,0,1,'L');
$pdf->SetXY(65,60+$baris);$pdf->Cell(30,5,$alamat,0,1,'L');
$pdf->SetXY(65,65+$baris);$pdf->Cell(30,5,$telepon,0,1,'L');
$pdf->SetXY(65,70+$baris);$pdf->Cell(30,5,$kelurahan,0,1,'L');
$pdf->SetXY(65,75+$baris);$pdf->Cell(30,5,$kecamatan,0,1,'L');
$pdf->SetXY(65,80+$baris);$pdf->Cell(30,5,$kota.' - '.$propinsi,0,1,'L');
$pdf->SetXY(65,85+$baris);$pdf->Cell(30,5,$email,0,1,'L');
$pdf->SetXY(65,90+$baris);$pdf->Cell(30,5,$agama,0,1,'L');
$pdf->SetXY(65,95+$baris);$pdf->Cell(30,5,$warganegara,0,1,'L');
$pdf->SetXY(65,100+$baris);$pdf->Cell(30,5,$asal,0,1,'L');
$pdf->SetXY(65,105+$baris);$pdf->Cell(30,5,$alamatasal,0,1,'L');

//$pdf->SetXY(65,100);$pdf->Cell(30,5,$anakke,0,1,'L');
//$pdf->SetXY(83,100);$pdf->Cell(30,5,$dari,0,1,'L');
$pdf->SetXY(65,115);$pdf->Cell(30,5,$golongandarah,0,1,'L');

//$pdf->SetXY(65,110);$pdf->Cell(30,5,$statustinggal,0,1,'L');
//$pdf->SetXY(65,115);$pdf->Cell(30,5,$no_un." / ".$a_data[50],0,1,'L');

$pdf->Rect(16, 130, 175, 38, 1);
$pdf->Rect(16, 130, 175, 6, 1);
$pdf->Rect(63, 130, 63, 38, 1);
$pdf->Rect(16, 130, 6, 38, 1);
//data orang tua
$pdf->SetFont('Arial','B',8);
$pdf->SetXY(13,125);
$pdf->Cell(30,5,'II. DATA ORANG TUA',0,1,'L');
$pdf->SetFont('Arial','',8);
$pdf->SetXY(16,131);$pdf->Cell(30,5,'NO   KETERANGAN',0,1,'L');
$pdf->SetXY(77,131);$pdf->Cell(30,5,'AYAH (KANDUNG/WALI)',0,1,'L');
$pdf->SetXY(142,131);$pdf->Cell(30,5,'IBU (KANDUNG/WALI)',0,1,'L');
$pdf->SetXY(17,137);$pdf->Cell(30,5,'1.    Nama Lengkap',0,1,'L');
$pdf->SetXY(17,142);$pdf->Cell(30,5,'2.    Alamat Rumah',0,1,'L');
$pdf->SetXY(17,147);$pdf->Cell(30,5,'3.    Nomor Telepon',0,1,'L');
$pdf->SetXY(17,152);$pdf->Cell(30,5,'4.    E-mail',0,1,'L');
$pdf->SetXY(17,157);$pdf->Cell(30,5,'5.    Pendidikan Tertinggi',0,1,'L');
$pdf->SetXY(17,162);$pdf->Cell(30,5,'6.    Pekerjaan',0,1,'L');

//detail orang tua
//data ayah
$pdf->SetXY(67,137);$pdf->Cell(30,5,$nama_ay,0,1,'L');
$pdf->SetXY(67,142);$pdf->MultiCell(57,2.7,$alamat_ay,0,'L',false);
$pdf->SetXY(67,147);$pdf->Cell(30,5,$telepon_ay,0,1,'L');
$pdf->SetXY(67,152);$pdf->Cell(30,5,$email_ay,0,1,'L');
$pdf->SetXY(67,157);$pdf->Cell(30,5,$pend_ay,0,1,'L');
$pdf->SetXY(67,162);$pdf->Cell(30,5,$pek_ay,0,1,'L');
//data ibu
//data ayah
$pdf->SetXY(130,137);$pdf->Cell(30,5,$nama_ib,0,1,'L');
$pdf->SetXY(130,142);$pdf->MultiCell(57,2.7,$alamat_ib,0,'L',false);
$pdf->SetXY(130,147);$pdf->Cell(30,5,$telepon_ib,0,1,'L');
$pdf->SetXY(130,152);$pdf->Cell(30,5,$email_ib,0,1,'L');
$pdf->SetXY(130,157);$pdf->Cell(30,5,$pend_ib,0,1,'L');
$pdf->SetXY(130,162);$pdf->Cell(30,5,$pek_ib,0,1,'L');

$baris=34;
//data prestasi
$pdf->Rect(16, 210-$baris, 175, 22, 1);
$pdf->Rect(16, 210-$baris, 175, 5.5, 1);

$pdf->SetFont('Arial','B',8);
$pdf->SetXY(12.5,205.5-$baris);
$pdf->Cell(30,5,'III. DATA PRESTASI',0,1,'L');
$pdf->SetFont('Arial','',8);

$pdf->SetXY(17,210.5-$baris);$pdf->Cell(70,5,'NO.',0,1,'L');
$pdf->SetXY(25,210.5-$baris);$pdf->Cell(70,5,'KETERANGAN',0,1,'L');
$pdf->SetXY(55,210.5-$baris);$pdf->Cell(70,5,'NAMA PRESTASI',0,1,'L');
$pdf->SetXY(150,210.5-$baris);$pdf->Cell(70,5,'TINGKAT',0,1,'L');

$pdf->SetXY(18,216.5-$baris);$pdf->Cell(30,5,'1.',0,1,'L');
$pdf->SetXY(18,221.5-$baris);$pdf->Cell(30,5,'2.',0,1,'L');
$pdf->SetXY(18,226.5-$baris);$pdf->Cell(30,5,'3.',0,1,'L');

//detail Prestasi
//data ke 1
$pdf->SetXY(25,216.5-$baris);$pdf->Cell(30,5,'PRESTASI 1',0,1,'L');
$pdf->SetXY(55,216.5-$baris);$pdf->Cell(30,5,$namapres1,0,1,'L');
$pdf->SetXY(150,216.5-$baris);$pdf->Cell(30,5,$tgkt1,0,1,'L');
//data ke 2
$pdf->SetXY(25,221.5-$baris);$pdf->Cell(30,5,'PRESTASI 2',0,1,'L');
$pdf->SetXY(55,221.5-$baris);$pdf->Cell(30,5,$namapres2,0,1,'L');
$pdf->SetXY(150,221.5-$baris);$pdf->Cell(30,5,$tgkt2,0,1,'L');
//data ke 3
$pdf->SetXY(25,226.5-$baris);$pdf->Cell(30,5,'PRESTASI 3',0,1,'L');
$pdf->SetXY(55,226.5-$baris);$pdf->Cell(30,5,$namapres3,0,1,'L');
$pdf->SetXY(150,226.5-$baris);$pdf->Cell(30,5,$tgkt3,0,1,'L');

$pdf->SetFont('Arial','B',8);
$pdf->SetXY(12.5,236.5-$baris);
$Rpterbilang=strtoupper(terbilang(getitem($a_data['sumbangan'],"t_sukarela")));
$pdf->Cell(30,5,'IV. SUMBANGAN SUKARELA (minimal Rp. 500.000,- dan kelipatannya) Rp. '.getitem($a_data['sumbangan'],"t_sukarela"),0,1,'L');
$pdf->SetFont('Arial','I',8);
$pdf->SetXY(130,236.5-$baris);
if($Rpterbilang!="") {
$pdf->Cell(30,5,"( ".$Rpterbilang." )",0,1,'L');}

$pdf->SetFont('Arial','',8);
//TANDA TANGAN
$baris=60;
$pdf->SetXY(140,280-$baris);$pdf->Cell(30,5,'Bandung, '.$tanggal,0,1,'L');
$pdf->SetXY(140,285-$baris);$pdf->MultiCell(60,5,'Orang Tua/Wali',0,'L',false);
$pdf->SetFont('Arial','U',8);
$pdf->SetXY(140,305-$baris);$pdf->Cell(30,5,$namaORTU,0,1,'L');

$pdf->SetFont('Arial','',8);
$pdf->SetXY(25,285-$baris);$pdf->MultiCell(60,5,'Calon Mahasiswa',0,'L',false);
$pdf->SetFont('Arial','U',8);
$pdf->SetXY(25,305-$baris);$pdf->Cell(30,5,$a_data[1],0,1,'L');

$baris=0;
//KELENGKAPAN DATA
$pdf->SetFont('Arial','B',7);
$pdf->SetXY(15,273-$baris);$pdf->Cell(30,5,'BERKAS YANG HARUS DISERTAKAN ',0,1,'L');
$pdf->SetXY(15,276-$baris);$pdf->Cell(30,5,'PADA SAAT VERIFIKASI DATA KE '.$lokasi,0,1,'L');
$pdf->SetFont('Arial','',7);
	$pdf->SetXY(15,280-$baris);$pdf->Cell(30,5,'1. Fotocopy Ijazah SMA/SMK atau SKHUN',0,1,'L');
	$pdf->SetXY(15,284-$baris);$pdf->Cell(30,5,'2. Surat Keterangan Kelakuan Baik dari sekolah atau kepolisian',0,1,'L');
	$pdf->SetXY(15,288-$baris);$pdf->Cell(30,5,'3. Fotocopy Akta Kelahiran',0,1,'L');
	$pdf->SetXY(15,292-$baris);$pdf->Cell(30,5,'4. Fotocopy Kartu Keluarga',0,1,'L');
	$pdf->SetXY(15,296-$baris);$pdf->Cell(30,5,'5. Surat Keterangan Berbadan Sehat & bebas narkoba dari dokter atau rumah sakit',0,1,'L');
	$pdf->SetXY(15,300-$baris);$pdf->Cell(30,5,'6. Pas Foto berwarna ukuran :',0,1,'L');
	$pdf->SetXY(18,304-$baris);$pdf->Cell(30,5,'a. 2 x 3 sebanyak 2 lembar',0,1,'L');
	$pdf->SetXY(18,309-$baris);$pdf->Cell(30,5,'b. 3 x 4 sebanyak 3 lembar',0,1,'L');
	$pdf->SetXY(18,313-$baris);$pdf->Cell(30,5,'c. 4 x 6 sebanyak 1 lembar',0,1,'L');

$pdf->Image($qrkode,85,250,25,25);


$pdf->Output("Form".$no_formulir.".pdf",'I');
// Hapus QRCODE

  $filedel="qrtemp/".$id_daftar.".png";
  if (file_exists($filedel)) {
    unlink("$filedel");}

?>
				
 -->
    </body>
</html>
